body {
    position: relative;
}

body::after {
    content: '';
    display: block;
    height: 50px; /* Set same as footer's height */
}

#Header h1 span {
    border: 1px solid black;
}

#Footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black;
}
